* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}


.container{
    width: 100%;
    height: 100vh;
    background: #7e4b27;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background:#f7e8ac;
    width: 400px;
    padding: 25px 35px;
    border-radius: 20px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #99cba6;
    color:#ea861a;
    box-shadow: 0 5px 10px rgba(238, 6, 6, 0.22);

}

.song-img{
    width: 100%;
    border-radius: 5%;
    border: 2px solid  #f2ab23; 
    box-shadow: 0 10px 60px rgba(225, 26, 26 0.22);
}